@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: theme("colors.c2");
  scroll-behavior: smooth;
}

* {
  outline: none;
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: theme("colors.c14");
    border-radius: 10px;
  }

  /* ::-webkit-scrollbar-thumb:hover {
  } */

  -webkit-tap-highlight-color: transparent;
}
